@font-face {
  font-family: Nunito;
  src: url(../assets/fonts/Nunito-ExtraLight.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Nunito;
  src: url(../assets/fonts/Nunito-Light.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Nunito;
  src: url(../assets/fonts/Nunito-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Nunito;
  src: url(../assets/fonts/Nunito-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Merriweather;
  src: url(../assets/fonts/Merriweather-Light.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Merriweather;
  src: url(../assets/fonts/Merriweather-LightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body.carton-wrap {
  background-image: url(../assets/patterns/halftone.png);
}
body.canvas-wrap {
  background-image: url(../assets/patterns/white_wall.png);
}
body.paper-wrap {
  background-image: url(../assets/patterns/ep_naturalwhite.png);
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
  font-family: "Nunito", Arial, sans-serif;
  font-weight: 100;
  letter-spacing: 0.1rem;
}
nav.topmenu {
  background-color: rgba(30, 30, 20, 0.75);
}
nav ul {
  padding: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a, nav ul li a:visited, nav ul li em {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  color: #eeeeea;
  padding: 11px 18px;
  text-decoration: none;
}
nav ul li a.sitename, nav ul li a:visited.sitename, nav ul li em.sitename {
  letter-spacing: 0.1rem;
  padding-left: 30px;
}
nav ul li em {
  font-weight: 400;
}
nav ul li a:hover {
  background-color: rgba(30, 30, 20, 0.75);
}
nav ul.is-closed {
  display: none;
}
nav.dropmenu {
  right: 0;
  width: auto;
  text-align: right;
}
nav.dropmenu ul li {
  display: block;
  text-align: right;
  background-color: rgba(30, 30, 20, 0.75);
}
nav.dropmenu ul li:first-of-type {
  padding-top: 40px;
}
nav.dropmenu ul li a {
  display: block;
  width: auto;
}
nav.dropmenu button {
  display: block;
  font-family: "Nunito", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #eeeeea;
  padding: 11px 18px;
  position: absolute;
  right: 0;
  width: 100%;
  min-width: 3em;
  border: none;
  background-color: rgba(30, 30, 20, 0.75);
}
nav.dropmenu button:hover {
  background-color: rgba(30, 30, 20, 0.75);
}
nav.dropmenu button.is-opened {
  display: none;
}

main {
  background-color: rgba(30, 30, 20, 0.15);
  padding-top: 40px;
}
main article h1, main article h2, main article h3, main article h4, main article h5, main article p {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 200;
  font-size: 1.2rem;
  line-height: 180%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 0rem;
  padding-left: 6rem;
  padding-right: 6rem;
  max-width: 50rem;
  color: #55554e;
  background-color: rgba(255, 255, 255, 0.4);
}
main article p:last-of-type {
  padding-bottom: 6rem;
}
main article h1 {
  font-weight: 300;
  font-size: 2rem;
  color: #5e5e57;
  padding-top: 6rem;
}
main article h3 {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  color: #5e5e57;
}
main article h4 {
  font-weight: 700;
  font-size: 1.4rem;
  color: #5e5e57;
}
main article h5 {
  font-family: "Nunito", Arial, sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
}
main article picture img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
  margin-bottom: -6px;
}
main section article {
  max-width: 50rem;
  margin: 0 auto;
}
main section article h1 {
  font-size: 1.8rem;
  padding-top: 2rem;
}
main section article p {
  font-size: 1rem;
  padding: 0.5rem 6rem;
}
main section article img {
  width: 100%;
  height: auto;
}

main header {
  color: #55554e;
  padding: 2rem 6rem;
  background-color: rgba(30, 30, 20, 0.15);
}
main header article h1 {
  padding-top: 1rem;
}
main header article p {
  line-height: 1.5rem;
  padding-top: 0;
}
main header article p:last-of-type {
  padding-bottom: 2rem;
}

main blockquote {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  margin: 6rem auto;
  padding: 2rem 6rem;
  max-width: 28rem;
  color: #5e5e57;
}
main blockquote img {
  display: block;
  width: auto;
  height: 1.8rem;
}
main blockquote img.left {
  margin-bottom: -1.4rem;
  margin-left: -1.8rem;
}
main blockquote img.right {
  margin-top: -2.7rem;
  margin-left: auto;
  margin-right: -1.8rem;
  margin-bottom: 1.4rem;
}
main blockquote p {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
  line-height: 2rem;
  text-align: right;
  color: #55554e;
  margin-right: -1.4rem;
}
main blockquote cite {
  display: block;
  font-family: "Nunito", Arial, sans-serif;
  font-style: normal;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-align: right;
  color: #55554e;
  margin-right: -1.4rem;
}

form {
  text-align: center;
  padding-bottom: 2rem;
}

.form {
  text-align: center;
  background-color: transparent;
}

input, textarea {
  display: block;
  min-width: 25rem;
  max-width: 25rem;
  margin: 1rem auto;
  border: none;
  font-family: "Nunito", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #55554e;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.4);
}

input[type=submit] {
  background-color: rgba(30, 30, 20, 0.4);
  color: #eeeeea;
}
input[type=submit]:hover {
  background-color: rgba(30, 30, 20, 0.75);
}

label {
  font-family: "Nunito", "Arial", sans-serif;
  font-size: 1rem;
  color: #aa2222;
}

main > section {
  padding: 0rem 2em;
}
main > section.pins {
  display: flex;
}
main > section.grid-3 {
  padding: 0.3rem 2rem;
}
main > section.grid-3 figure {
  margin-right: -0.25em;
  margin-top: -0.25em;
}
main > section.grid-3 figure.mosaic {
  display: inline-block;
  width: 33.3%;
}
main > section.grid-5 {
  padding: 0.3rem 2rem;
}
main > section.grid-5 figure {
  margin-right: -0.25em;
  margin-top: -0.25em;
}
main > section.grid-5 figure.mosaic {
  display: inline-block;
  width: 20%;
}
main > section img {
  width: 100%;
  padding: 1px;
}
main > section a img:hover {
  filter: brightness(90%);
}
main > section div.col {
  flex: 25%;
}
main > section div figure.mosaic {
  flex-wrap: wrap;
  margin-bottom: -0.25em;
}

button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

#details {
  font-family: "Nunito", Arial, sans-serif;
  background-color: rgba(20, 0, 0, 0.1);
  text-align: center;
}
#details figure {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;
}
#details figure img {
  width: auto;
  height: auto;
  max-width: 100vw;
  max-height: 100vh;
  margin-bottom: -5px;
  padding: 0;
}
#details figure nav {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  line-height: 2.5rem;
  color: #eeeeea;
}
#details figure nav a, #details figure nav button {
  font-family: "Nunito", Arial, sans-serif;
  color: #eeeeea;
  flex-grow: 1;
  padding: 0.25rem 0;
}
#details figure nav a:hover, #details figure nav button:hover {
  background-color: rgba(30, 30, 20, 0.5);
}
#details figure nav #prev, #details figure nav #next {
  font-size: 1.5rem;
}
#details figure nav #closedetail {
  font-size: 1.5rem;
  flex-grow: 0;
  width: 2rem;
}
#details figure figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
#details figure figcaption h3 {
  color: #eeeeea;
}
#details figure figcaption p {
  visibility: hidden;
  font-family: "Nunito", Arial, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  padding-bottom: 1rem;
}
#details figure figcaption:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
#details figure figcaption:hover h3 {
  color: #3e3e30;
}
#details figure figcaption:hover p {
  color: #3e3e30;
  visibility: visible;
}

footer {
  padding: 3rem 1rem;
  text-align: center;
  color: #55554e;
  background-color: transparent;
}
footer summary, footer details p {
  font-family: "Nunito", Arial, sans-serif;
  font-size: 0.8rem;
  max-width: none;
  padding: 0;
  margin: 0;
}
footer p {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 0.9rem;
  line-height: 1.6rem;
  max-width: 18em;
  margin: 4rem auto;
}

footer details p, footer summary {
  font-style: normal;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }

  main header {
    padding: 3rem 3rem;
  }
  main header article h1, main header article p {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  main article h1, main article h2, main article h3, main article h4, main article h5, main article p {
    padding-top: 1rem;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }
  main article picture img {
    height: 30rem;
  }
  main section {
    padding: 0rem 1rem;
  }
  main section.grid-3 {
    padding: 0.3rem 1rem;
  }
  main section.grid-5 {
    padding: 0.3rem 1rem;
  }
  main section article h1 {
    padding-top: 2rem;
  }
  main section article p {
    padding: 0.5rem 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }

  main header {
    padding: 2rem 6rem;
  }
  main header article h1, main header article p {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  main article h1, main article h2, main article h3, main article h4, main article h5, main article p {
    padding-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }
  main article picture img {
    height: 36rem;
  }
  main section {
    padding: 0rem 2rem;
  }
  main section.grid-3 {
    padding: 0.3rem 2rem;
  }
  main section.grid-5 {
    padding: 0.3rem 2rem;
  }
  main section article h1 {
    padding-top: 2rem;
  }
  main section article p {
    padding: 1rem 4rem;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }

  main header {
    padding: 1rem 1rem;
  }
  main header article h1, main header article p {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  main article h1, main article h2, main article h3, main article h4, main article h5, main article p {
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  main article picture img {
    height: 24rem;
  }
  main section {
    padding: 0rem 0rem;
  }
  main section.grid-3 {
    padding: 0.3rem 0rem;
  }
  main section.grid-5 {
    padding: 0.3rem 0rem;
  }
  main section article h1 {
    padding-top: 2rem;
  }
  main section article p {
    padding: 0.5rem 1rem;
  }
}

/*# sourceMappingURL=daanjels.css.map */
