@font-face {
  font-family: Nunito;
  src: url(/daanjels-mvc/public/assets/fonts/Nunito-ExtraLight.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Nunito;
  src: url(/daanjels-mvc/public/assets/fonts/Nunito-Light.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Nunito;
  src: url(/daanjels-mvc/public/assets/fonts/Nunito-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Nunito;
  src: url(/daanjels-mvc/public/assets/fonts/Nunito-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Merriweather;
  src: url(/daanjels-mvc/public/assets/fonts/Merriweather-Light.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Merriweather;
  src: url(/daanjels-mvc/public/assets/fonts/Merriweather-LightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}
* {
  margin: 0;
}

html {
  font-size: 16px;
}

body.carton-wrap {
  background-image: url(/daanjels-mvc/public/assets/patterns/halftone.png);
}
body.canvas-wrap {
  background-image: url(/daanjels-mvc/public/assets/patterns/white_wall.png);
}
body.paper-wrap {
  background-image: url(/daanjels-mvc/public/assets/patterns/ep_naturalwhite.png);
}

nav {
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
  font-family: "Nunito", Arial, sans-serif;
  font-weight: 100;
  letter-spacing: 0.1rem;
}
nav.topmenu {
  background-color: rgba(30, 30, 20, 0.8);
}
nav ul {
  padding: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a, nav ul li a:visited, nav ul li em {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  color: #eeeeea;
  padding: 11px 18px;
  text-decoration: none;
}
nav ul li a.sitename, nav ul li a:visited.sitename, nav ul li em.sitename {
  letter-spacing: 0.1rem;
  padding-left: 30px;
}
nav ul li em {
  font-weight: 400;
}
nav ul li a:hover {
  background-color: rgba(30, 30, 20, 0.8);
}
nav ul.is-closed {
  display: none;
}
nav.dropmenu {
  right: 0;
  width: auto;
  text-align: right;
}
nav.dropmenu ul li {
  display: block;
  text-align: right;
  background-color: rgba(30, 30, 20, 0.8);
}
nav.dropmenu ul li:first-of-type {
  padding-top: 40px;
}
nav.dropmenu ul li a {
  display: block;
  width: auto;
}
nav.dropmenu button {
  display: block;
  font-family: "Nunito", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #eeeeea;
  padding: 11px 18px;
  position: absolute;
  right: 0;
  width: 100%;
  min-width: 3em;
  border: none;
  background-color: rgba(30, 30, 20, 0.8);
}
nav.dropmenu button:hover {
  background-color: rgba(30, 30, 20, 0.8);
}
nav.dropmenu button.is-opened {
  display: none;
}

main {
  background-color: rgba(30, 30, 20, 0.1);
  padding-top: 40px;
}
main article h1, main article h2, main article h3, main article h4, main article h5, main article p {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 200;
  font-size: 1.2rem;
  line-height: 180%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 0rem;
  padding-left: 6rem;
  padding-right: 6rem;
  max-width: 50rem;
  color: #55554e;
  background-color: rgba(255, 255, 255, 0.4);
}
main article p:last-of-type {
  padding-bottom: 3rem;
}
main article h1 {
  font-weight: 300;
  font-size: 2rem;
  color: #5e5e57;
}
main article h3 {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  color: #5e5e57;
}
main article h4 {
  font-weight: 700;
  font-size: 1.4rem;
  color: #5e5e57;
}
main article h5 {
  font-family: "Nunito", Arial, sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
}
main article picture img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
  margin-bottom: -6px;
}
main section article {
  max-width: 50rem;
  margin: 0 auto;
}
main section article h1 {
  font-size: 1.8rem;
}
main section article p {
  font-size: 1rem;
  padding: 0.5rem 6rem;
}
main section article img {
  width: 100%;
  height: auto;
}

main header {
  color: #55554e;
  padding: 2rem 6rem;
  background-color: rgba(30, 30, 20, 0.1);
}
main header article h1 {
  padding-top: 1rem;
}
main header article p {
  line-height: 1.5rem;
  padding-top: 0;
}

main blockquote {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  margin: 6rem auto;
  padding: 2rem 6rem;
  max-width: 28rem;
  color: #5e5e57;
}
main blockquote img {
  display: block;
  width: auto;
  height: 1.8rem;
}
main blockquote img.left {
  margin-bottom: -1.4rem;
  margin-left: -1.8rem;
}
main blockquote img.right {
  margin-top: -2.7rem;
  margin-left: auto;
  margin-right: -1.8rem;
  margin-bottom: 1.4rem;
}
main blockquote p {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
  line-height: 2rem;
  text-align: right;
  color: #55554e;
  margin-right: -1.4rem;
}
main blockquote cite {
  display: block;
  font-family: "Nunito", Arial, sans-serif;
  font-style: normal;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-align: right;
  color: #55554e;
  margin-right: -1.4rem;
}

form {
  text-align: center;
  padding-bottom: 2rem;
}

.form {
  text-align: center;
  background-color: transparent;
}

input, textarea {
  display: block;
  min-width: 25rem;
  max-width: 25rem;
  margin: 1rem auto;
  border: none;
  font-family: "Nunito", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #55554e;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.4);
}

input[type=submit] {
  background-color: rgba(30, 30, 20, 0.4);
  color: #eeeeea;
  box-sizing: content-box;
}
input[type=submit]:hover {
  background-color: rgba(30, 30, 20, 0.8);
}

label {
  font-family: "Nunito", "Arial", sans-serif;
  font-size: 1rem;
  color: #aa2222;
}

footer {
  padding: 3rem 1rem;
  text-align: center;
  color: #55554e;
  background-color: transparent;
}
footer summary, footer details p {
  font-family: "Nunito", Arial, sans-serif;
  font-size: 0.8rem;
  max-width: none;
  padding: 0;
  margin: 0;
}
footer p {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 0.9rem;
  line-height: 1.6rem;
  max-width: 18em;
  margin: 4rem auto;
}

footer details p, footer summary {
  font-style: normal;
}

/*# sourceMappingURL=daanjels.css.map */
