form {
    text-align: center;
    padding-bottom: 2rem;
    h1 {
        margin-bottom: 1rem;
    }
		figure {
			picture {
				img {
					width: auto;
					margin: 0 auto;
				}
			}
		}
}
.form {
    text-align: center;
    background-color: transparent;
}
pre {
    color: $text-dark;
    padding: 1rem;
}
input, textarea {
    display: block;
    min-width: 25rem;
    max-width: 25rem;
    margin: 0.6rem auto;
    margin-top: 0.4rem;
    border: none;
    font-family: 'Nunito','Arial',sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: $text-dark;
    padding: 0.2rem 0.5rem;
    // background-color: rgba(255, 255, 255, 0.6);
    background-color: $back-light;
    // &#day, &#month, &#year {
    //     display: inline;
    // }
}

input[type=submit] {
    background-color: rgba(30, 30, 20, 0.4);
    // background-color: $back-dark;
    color: $text-light;
    &:hover {
        // background-color: rgba(0, 0, 0, 0.7);
        background-color: $back-dark;
    }
}
label {
    // display: inline-block;
    font-family: 'Nunito','Arial',sans-serif;
    font-size: 1rem;
    color: #aa2222;
    // margin: 1rem auto;
    // margin-top: 0.5rem;
}