@media only screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }
    main {
        header {
            padding: 3rem 3rem;
            article {
                h1, p {
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;    
                }
            }
        }
        article {
            h1, h2, h3, h4, h5, p {
                padding-top: 1rem;
                padding-left: 4.5rem;
                padding-right: 4.5rem;
            }
            picture img {
                height: 30rem;
            }    
        }
        section {
            padding: 0rem 1rem;
            &.grid-3 {
                padding: 8px 1rem;
            }
            &.grid-5 {
                padding: 8px 1rem;
            }
            article {
                h1 {
                    padding-top: 2rem;
                }
                p {
                    padding: 0.5rem 4rem;
                }
            }    
        }
    }
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 18px;
    }
    main {
        header {
            padding: 2rem 6rem;
            article {
                h1, p {
                    padding-left: 3rem;
                    padding-right: 3rem;    
                }
            }
        }
        article {
            h1, h2, h3, h4, h5, p {
                padding-top: 2rem;
                padding-left: 6rem;
                padding-right: 6rem;
            }
            picture img {
                height: 36rem;
            }    
        }
        section {
            padding: 0rem 2rem;
            &.grid-3 {
                padding: 0.4rem 2rem;
            }
            &.grid-5 {
                padding: 0.4rem 2rem;
            }
            article {
                h1 {
                    padding-top: 2rem;
                }
                p {
                  padding: 1rem 4rem;
                }
            }
        }    
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }
    nav {
        letter-spacing: 0;
        ul {
            li {
                a, a:visited, em {
                    padding: 11px 8px;
                    &.sitename {
                        letter-spacing: 0.1rem;
                        padding-left: 14px;
                    }
                }
            }
            &.is-closed {
                display: none;
            }
        }      
    }
    main {
        header {
            padding: 1rem 1rem;
            article {
                h1, p {
                    padding-left: 1rem;
                    padding-right: 1rem;    
                }
            }
        }
        article {
            h1, h2, h3, h4, h5, p {
                padding-top: 1rem;
                padding-left: 3rem;
                padding-right: 3rem;
            }
            picture img {
                height: 24rem;
            }    
        }
        section {
            padding: 0 0;
            &.grid-3 {
                padding: 6px 3px;
            }
            &.grid-5 {
                padding: 6px 3px;
                img {
                    width : 100%;
                    padding: 3px;
                }
            }
            article {
                h1 {
                    padding-top: 2rem;
                }
                p {
                    padding: 0.5rem 1rem;
                }
            }    
        }
    }
}
