section#prices picture img.list  {
	margin-top: 1.5rem;
	margin-right: 1rem;
	height: 7.8rem;
	width: auto;
	float: left;
	padding-top: 2px;
}

#prices {
	font-family: $font-sans-serif;
	color: $text-black;
	// background-color: rgba(20, 0, 0, 0.1);
	margin-top: 2vh;
	margin-left: 0vw;
	margin-right: 0vw;
	padding-left: 10vw;
	padding-right: 10vw;
	#closedetail {
		position: fixed;
		top: 0;
		right: 0;
		font-size: 1.5rem;
		// flex-grow: 0;
		width: 2.5rem;
		background-image: url(#{$assets}/patterns/mosaic.svg);
		background-repeat: no-repeat;
		background-size: 1.5rem;
		background-position-x: 0.5rem;
		background-position-y: 0.5rem;
		line-height: 2rem;
		padding: 0.25rem 0;
		background-color: $back-gray;
		&.pins {
			background-image: url(#{$assets}/patterns/mosaic-pins.svg);
		}
		&:hover {
			background-color: $back-dark;
		}
	}
	h2 {
		font-family: $font-sans-serif;
		color: $text-dark;
		margin-top: 1.5rem;
		padding-top: 1rem;
		padding-bottom: 0.5rem;
		border-top-width: 2px;
		border-top-color: $back-shade;
		border-top-style: solid;
	}
	h4 {
		font-family: $font-sans-serif;
		color: $text-dark;
		margin-top: 0.5rem;
		padding-top: 1rem;
		padding-bottom: 0.5rem;
	}
	picture img .list  {
			margin-top: 1.5rem;
			margin-right: 1rem;
			height: 7.8rem;
			width: auto;
			float: left;
			padding-top: 2px;
	}

	nav {
		position: fixed;
		left: 1vw;
		color: $text-black;
		background-color: none;
		// height: 80vh;
		// width: 100vw;
		margin-top: 5vh;
		a {
			display: inline-block;
			height: 75vh;
			width: 49%;
			font-family: $font-sans-serif;
			// font-size: 0.9rem;
			color: $text-black;
			// flex-grow: 1;
			padding: 0.25rem 1rem;
			background-repeat: no-repeat;
			background-size: 2rem;
			// background-color: $back-gray;
		}
		a#prev{
			background-image: url(#{$assets}/patterns/arrowl-dark.svg);
			background-position-y: 30%;
			background-position-x: left;
		}
		a#next {
			background-image: url(#{$assets}/patterns/arrowr-dark.svg);
			background-position-y: 30%;
			background-position-x: right;
		}
	}

	figure {
		width: 100%;
		display: grid;
/*		grid-template-columns: 45vw 33vw; */
/*		gap: 2vw; */
		picture {
			margin-left: auto;
			margin-right: auto;
		}
		&.horizontal {
/*			grid-template-columns: 80vw;*/
			margin-left: 0;
			margin-right: auto;
			img {
				max-width: 80vw;
				max-height: 80vh;
			}
		}
		&.square {
/*			grid-template-columns: 60vw 18vw;*/
			img {
				max-width: 60vw;
				max-height: 80vh;
/*				margin-left: auto;*/
			}
		}
		&.vertical {
/*			grid-template-columns: 50vw 28vw;*/
			img {
				max-width: 50vw;
				max-height: 80vh;
/*				margin-left: auto; */
/* 				margin-right: auto; */
			}
		}
		figcaption {
			position: absolute;
			bottom: 3vh;
			left: 8vw;
			margin-top: auto;
			text-align: left;
			color: $text-black;
			h3 {
				color: $text-black;
			} 
			p {
				font-family: $font-sans-serif;
				font-size: 0.8rem;
				letter-spacing: 0.05rem;
				line-height: 1.3rem;
			}
			h5 {
				font-size: 0.9rem;
				margin-top: 0.5rem;
				padding: 0.25rem 0;
			}
			a {
				display: inline-block;
				font-family: $font-sans-serif;
				color: $text-light;
				padding: 0.25rem 1rem;
				background-repeat: no-repeat;
				background-size: 2rem;
				background-color: $back-red;
			}	
		}
	}
}