button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

#details {
    font-family: $font-sans-serif;
    background-color: rgba(20, 0, 0, 0.1);
    text-align: center;
    figure {
      width: max-content;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: 0;
      img {
        width: auto;
        height: auto;
        max-width: 100vw;
        max-height: 100vh;
        margin-bottom: -5px;
        padding: 0;
      }
      nav {
        position: absolute;
        top: 0;
        display: flex;
        width: 100%;
        line-height: 2.5rem;
        color: $text-light;
        a, button {
          font-family: $font-sans-serif;
          // font-size: 0.9rem;
          color: $text-light;
          flex-grow: 1;
          padding: 0.25rem 0;
          &:hover {
            background-color: $back-gray;
          }
        }
        #prev, #next {
          font-size: 1.5rem;
        }
        #closedetail {
          font-size: 1.5rem;
          flex-grow: 0;
          width: 2rem;
        }
      }
      figcaption {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        h3 {
          color: $text-light;
        }
        p {
          visibility: hidden;
          font-family: $font-sans-serif;
          font-size: 0.8rem;
          letter-spacing: 0.05rem;
          padding-bottom: 1rem;
        }
        &:hover {
          background-color: $back-light;
          h3 {
            color: $text-black;
          }
          p {
            color: $text-black;
            visibility: visible;
          }
        }
      }
    }
  }