main>section {
    padding: 0rem 2em;
    &.pins {
        display: flex;
    }
    img {
        width : 100%;
        padding: 1px;
    }
    &.grid-2 {
			padding: 0.5rem 2rem;
			figure {
					margin-right: -0.25em;
					margin-top: -0.25em;
					&.mosaic {
							display: inline-block;
							width: 50%;
					}
			}
			img {
					padding: 5px;
			}
		}
		&.grid-3 {
        padding: 0.5rem 2rem;
        figure {
            margin-right: -0.25em;
            margin-top: -0.25em;
            &.mosaic {
                display: inline-block;
                width: 33.3%;
            }
        }
        img {
            padding: 5px;
        }
    }
    &.grid-5 {
        padding: 0.5rem 2rem;
        figure {
            margin-right: -0.25em;
            margin-top: -0.25em;
            &.mosaic {
                display: inline-block;
                width: 20%;
            }
        }
        img {
            padding: 5px;
        }
    }
    a img:hover {
        filter: brightness(90%);
    }
    div.col {
        flex: 25%;
    }
    div figure {
        &.mosaic {
            flex-wrap: wrap;
            margin-bottom: -0.25em;
        }
    }
}