$assets: '../assets';

$font-sans-serif: 'Nunito', Arial, sans-serif;
$font-serif: 'Merriweather', Georgia, serif;

// text colors
$text-light: #eeeeea;
$text-dark: #55554e;
$text-black: #3e3e30;
$title-dark: #5e5e57;

// fill colors
$back-dark: rgba(30, 30, 20, 0.75);
$back-gray: rgba(30, 30, 20, 0.5);
$back-shade: rgba(30, 30, 20, 0.15);
$back-light: rgba(255, 255, 255, 0.4);