$assets: '/daanjels-mvc/public/assets';

$font-sans-serif: 'Nunito', Arial, sans-serif;
$font-serif: 'Merriweather', Georgia, serif;

// text colors
$text-light: #eeeeea;
$text-dark: #55554e;

// fill colors
$back-dark: rgba(30, 30, 20, 0.8);
$back-shade: rgba(30, 30, 20, 0.1);
$back-light: rgba(255, 255, 255, 0.4);